<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to My Blog</h1>

    <h2>Hello, {{ request.user.username }}</h2>

    <p>You are successfully logged in.</p>

    <a href="{% url 'create_blog' %}">
      <button>Create Blog</button>
    </a>


    {% comment %} Display all blogs {% endcomment %}
    {% for blog in blogs%}
      <h3>{{ blog.title }}</h3>
      <p>{{ blog.content }}</p>
      
      <a href="{% url 'edit_blog' blog.id %}">
      <button>Edit</button>
      </a>
      <a href="{% url 'delete_blog' blog.id %}">
      <button>Delete</button>
      </a>
    {% endfor %}


    <br>
    <a href="{% url 'logout' %}">
      <button>Logout</button>
  </body>
</html>
